
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>@ViewBag.v0</h4>

<div class="alert alert-primary">Toplam Yetenek Sayısı: @ViewBag.v1</div>
<div class="alert alert-info">Toplam Yetenek Puanı: @ViewBag.v2</div>
<div class="alert alert-dark">Değeri 70'ten Büyük Olan Yetenek Sayısı: @ViewBag.v3</div>
<div class="alert alert-danger">Yetenek Değerlerinin Ortalaması: @ViewBag.v4</div>
<div class="alert alert-warning">Toplam Deneyim Sayısı: @ViewBag.v5</div>
<div class="alert alert-secondary">Pozisyonu Developer Olan Deneyimlerin Sayısı: @ViewBag.v6</div>
<div class="alert alert-success">Toplam Mesaj Sayısı: @ViewBag.v7</div>
<div class="alert alert-info">Okunmuş Mesaj Sayısı: @ViewBag.v8</div>
<div class="alert alert-primary">Okunmamış Mesaj Sayısı: @ViewBag.v9</div>
<div class="alert alert-danger">Toplam Referans Sayısı: @ViewBag.v10</div>


